<div style="font-size: 3em;text-align: center;padding: 1em;">
  <a href={{videoTutorialUrl}} target="_blank">VIDEO</a>
</div>
<div class="container">
  <!-- header START -->
  <div class="header">
      <!-- banner area START -->
      <div class="header__banner">
      <h2>TITLE</h2>
          <div class="header__buttons"
          [ngStyle] = "{
            'background-image': 'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3))'
          }"
          >
              <button class="play-button">
                  <mat-icon>arrow_right</mat-icon>
                  <span>Play</span>
              </button>
              <button class="more-button">
                  <mat-icon>info</mat-icon>
                  <span>More Info</span>
              </button>
          </div>
      </div>
      <!-- banner area END -->

      <!-- main area START -->
      <div class="header__main" id="#stickyHeader" [class.sticky]="sticky" #stickyHeader>
        <div class="header__main__left">
          <a routerLink="/" routerLinkActive="router-link-active" >
            <img class="logo" src="./assets/img/logo.svg" alt="logo">
          </a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">My List</a></li>
          </ul>
        </div>
        <div class="header__main__right">
          <ul>
            <li><a href="#"><mat-icon>search</mat-icon></a></li>
            <li><a href="#">Children</a></li>
            <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
            <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
            <li><a href="#"><img src="{{avatarUrl}}" alt="avatar"></a></li>
          </ul>
        </div>
      </div>
      <!-- main area END -->
  </div>
  <!-- header END -->

  <!-- body START -->
  <div class="body" style="margin-top: 5rem;">
    <app-slider title="Top Rated"></app-slider>
    <app-slider title="Latest"></app-slider>
    <app-slider title="Favorites"></app-slider>
  </div>
  <!-- body END -->
</div>
