<div class="container">
    <div class="header">
        <!-- banner area -->
        <div class="header__banner">
        <h2>TITLE</h2>
            <div class="header__buttons"
            [ngStyle] = "{
              'background-image': 'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3))'
            }"
            >
                <button class="play-button">
                    <mat-icon>arrow_right</mat-icon>
                    <span>Play</span>
                </button>
                <button class="more-button">
                    <mat-icon>info</mat-icon>
                    <span>More Info</span>
                </button>
            </div>
        </div>

        <!-- main area -->
    </div>
</div>
